Cliente/web/WEB-INF/wsdl/localhost_8080/ServidorBaseCliente/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://webservicecli/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservicecli/">

<xs:element name="Eliminar" type="tns:Eliminar"/>

<xs:element name="EliminarResponse" type="tns:EliminarResponse"/>

<xs:element name="actualizar" type="tns:actualizar"/>

<xs:element name="actualizarResponse" type="tns:actualizarResponse"/>

<xs:element name="agregar" type="tns:agregar"/>

<xs:element name="agregarResponse" type="tns:agregarResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listar" type="tns:listar"/>

<xs:element name="listarID" type="tns:listarID"/>

<xs:element name="listarIDResponse" type="tns:listarIDResponse"/>

<xs:element name="listarResponse" type="tns:listarResponse"/>

<xs:element name="perimetro" type="tns:perimetro"/>

<xs:element name="perimetroResponse" type="tns:perimetroResponse"/>

<xs:complexType name="listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="perimetro">
<xs:sequence>
<xs:element name="name" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="perimetroResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>