Cliente/src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/ServidorBaseCliente/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservicecli/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservicecli/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://webservicecli/" schemaLocation="http://localhost:8080/ServidorBaseCliente/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizar">
<part name="parameters" element="tns:actualizar"/>
</message>
<message name="actualizarResponse">
<part name="parameters" element="tns:actualizarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listarID">
<part name="parameters" element="tns:listarID"/>
</message>
<message name="listarIDResponse">
<part name="parameters" element="tns:listarIDResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="perimetro">
<part name="parameters" element="tns:perimetro"/>
</message>
<message name="perimetroResponse">
<part name="parameters" element="tns:perimetroResponse"/>
</message>
<portType name="Servicios">
<operation name="actualizar">
<input wsam:Action="http://webservicecli/Servicios/actualizarRequest" message="tns:actualizar"/>
<output wsam:Action="http://webservicecli/Servicios/actualizarResponse" message="tns:actualizarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservicecli/Servicios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservicecli/Servicios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listarID">
<input wsam:Action="http://webservicecli/Servicios/listarIDRequest" message="tns:listarID"/>
<output wsam:Action="http://webservicecli/Servicios/listarIDResponse" message="tns:listarIDResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://webservicecli/Servicios/listarRequest" message="tns:listar"/>
<output wsam:Action="http://webservicecli/Servicios/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://webservicecli/Servicios/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://webservicecli/Servicios/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://webservicecli/Servicios/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://webservicecli/Servicios/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="perimetro">
<input wsam:Action="http://webservicecli/Servicios/perimetroRequest" message="tns:perimetro"/>
<output wsam:Action="http://webservicecli/Servicios/perimetroResponse" message="tns:perimetroResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perimetro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/ServidorBaseCliente/Servicios"/>
</port>
</service>
</definitions>